{%extends 'base.html'%}
{% load static %}
{% block title %}
| Reset Password
{% endblock  %}
{%block content%}
<script src="https://kit.fontawesome.com/4e1387f955.js" crossorigin="anonymous"></script>

{% include 'partials/_alert.html' %}


        <img src="{% static 'img/logo.svg' %}" alt="" class="autorisation__logo">
   <div class="autorisation">
  
<form method="POST" id="regForm">
    <div class="autorisation__box">
        <p class="autorisation__heading">Create New Password</p>
        <form action="registration"  method="post">
        <div class="autorisation__input-box u-margin-top-medium">
            {% csrf_token %}
       
         
            <div class="autorisation__input-box">
                <input type="password" name="new_password1"  id="newpassword" class="autorisation__input" required  placeholder="Password">

                <div class="autorisation__input-label-box">
                    <label  class="autorisation__input-label" for="newpassword">Password</label>
                    <label  class="autorisation__input-error" for="newpassword" id="password-feedback"></label>
                        </div>
                        <i class="fas fa-eye autorisation__icon-2 passwordNew showpassReg"></i>
                </div>
              
                <div class="autorisation__input-box u-margin-botton-bigger">
                    <input type="password" name="new_password2"  id="newrepeatpassword" class="autorisation__input" required   placeholder="Repeat Password">
                      <div class="autorisation__input-label-box">
                        <label  class="autorisation__input-label" for="newrepeatpassword">Repeat Password</label>
                        <label  class="autorisation__input-error" for="newrepeatpassword" id="repeatpassword-feedback"></label>
                            </div>
                            <i class="autorisation__icon-2 fas fa-eye passwordRepeatNew showpassReg"></i>
                </div>
           
  
                <button type="submit" class="autorisation__button"  id="submitNewButton" disabled>Submit</button>
                </form>


    </div>

</div>
</form>
{% endblock  %}