{%extends 'base.html'%}
{% load static %}
{% block title %}
| Reset Password
{% endblock  %}
{%block content%}



<img src="{% static 'img/logo.svg' %}" alt="" class="autorisation__logo">
<div class="autorisation">
    <div class="autorisation__box">

 
            <h1 class="blog__heading-main u-margin-bottom-medium">Check your inbox</h1>

<p class="autorisation__heading u-margin-top-medium ">We've emailed you instructions for setting your password . You should receive the email shortly !</p>

</div>

</div>


{% endblock  %}