{%extends 'base.html'%}
{% load static %}
{% block title %}
| Reset Password
{% endblock  %}
{%block content%}



<img src="{% static 'img/logo.svg' %}" alt="" class="autorisation__logo">
<div class="autorisation">
    <div class="autorisation__box">

 
            <h1 class="blog__heading-main u-margin-bottom-medium ">Successfully changed password</h1>

            <div class="u-center-text u-margin-top-medium">
                <form action="{% url 'login'%}">
                    <button  class="header__button ">Log in</button>
                </form>
                    </div>
</div>

</div>


{% endblock  %}