{%extends 'base.html'%}
{% load static %}
{% block title %}
| Reset Password
{% endblock  %}
{%block content%}
<script src="https://kit.fontawesome.com/4e1387f955.js" crossorigin="anonymous"></script>

<img src="{% static 'img/logo.svg' %}" alt="" class="autorisation__logo">
<div class="autorisation">
    <div class="autorisation__box">
    <form  method="POST" id="logForm">
        {% csrf_token %}
            <p class="autorisation__heading ">Forgot Password</p>
            <p class="autorisation__text u-margin-bottom-small" >Enter your email address below, and we'll email instructions for setting a new one.</p>
            <div class="autorisation__input-box u-margin-bottom-medium u-margin-top-medium">
                <input type="email" id="email" name="email" class="autorisation__input" required  id="email" placeholder="Email">
               
                <div class="autorisation__input-label-box">
                    <label  class="autorisation__input-label" for="email">Email</label>
                    <label  class="autorisation__input-error" for="email" id="email-feedback"></label>
                        </div>

                        <i class="fas fa-envelope autorisation__icon-2 emailReset"></i>
                     </div>


     <button type="submit" name="login" class="autorisation__button" id="resetButton" disabled>Submit</button>

    </form>
</div>

</div>


{% endblock  %}