{%extends 'base.html'%}
{% load static %}
{% block title %}
| Blog
{% endblock  %}
{%block content%}


{% if user.is_authenticated %}

{% include 'partials/_menu.html' %}
{%else%}
{% include 'partials/_header.html' %}

{%endif%}


<h1 class="blog__heading-main">Financal Blog</h1>

<div class="blog">
    {% if blog %}
    {% for blo in blog %}
<div class="blog__item">

    <a href="{% url 'blogext' blo.id %}" class="blog__link">
    <div class="blog__photo-box">
    <img src="{{blo.photo.url}}" alt="" class="blog__photo">
</div>
    <h1 class="blog__heading">{{blo.title}}</h1>
    <p class="blog__date">{{blo.date}}</p>
</a>
</div>

{% endfor %}
{% else %}

{% endif %}

</div>





{% if user.is_authenticated %}


{% include 'partials/_background_image.html' %}
{%else%}

{% include 'partials/_footer.html' %}

{%endif%}













{% endblock  %}