.autorisation{
    text-align: center;
    width: 40vw;
    height: 70vh;
    border-radius: 5rem;
    margin: 0 auto;
   
    @media only screen and (max-width: $bp-land) {
        width: 100vw!important;
       
    
    }
    &__heading{
        font-size: 3rem;
        color: var(--color-primary);
        padding-top: 1rem;

    }
    &__logo{
        width: 35rem;
        
        margin: 2rem auto;
        display: block;

    }
    &__input{
        display: block;
        width: 100%;
        height: 100%;
        color: var(--color-secondary);
        font-size: 2rem;
        background:none;
        border: none;
        outline: none;
        border-bottom: 2px solid var(--color-primary);
        transition: all .2s ease-in-out;
        border-radius: 0 !important;
        -webkit-appearance: none;
        -webkit-border-radius:0px;
        &-internal-autofill-selected{
            background: none !important;
        }
        &:valid{
    
            border-color: var(--color-primary);
        }
        &::placeholder{
            color: var(--color-secondary);
            font-size: 2rem;
            transition: all .3s ease-in-out;
        }
        &:focus::placeholder{
           opacity: 0;
           visibility: hidden;
           

        }
        &:focus{
          border-color: var(--color-secondary) !important;
        }

        &:focus{
            border-color: var(--color-primary);
          }
          &:focus ~ .autorisation__icon{
            fill: var(--color-primary) !important;
          }
          &:focus ~ &-label-box &-label{
            opacity: 1;
            transform: translateY(.5rem);
          }
        &-box{
            
            width: 85%;
            height: 6rem;
            margin:0 auto;
          position: relative;

            @media only screen and (max-width: $bp-land) {
                width: 90% !important;
                margin: 5rem auto !important;
        
            }

            &-3{
                width: 35rem;
                
                display: flex;
                justify-content: space-between;

            }
            &:not(:nth-child(2)){
               margin:  3rem auto;
    
            }

        }
       
        &-label{
            font-size: 1.2rem;
            color: var(--color-secondary);
           
            margin: .4rem 0;
            opacity: 0;
            transform: translateY(-1rem);
            transition: all .3s ease-in-out;
            &-2{
                font-size: 1.6rem;
                margin-bottom: 2rem;
                color: var(--color-secondary) !important;
            }
            &-box{
                display: flex;
                justify-content: space-between;
            }
        }
        &-error{
            font-size: 1.2rem;
            color: var(--color-primary);
            margin:1rem 0;



        }
    }
    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        float: right;
        margin-top: -4rem;
        fill: var(--color-secondary);
        transition: all .2s ease-in-out;
        &-2{
          font-size: 2rem;
          color: var(--color-primary);
            position: absolute;
            top: 40%;
            
            right: 2%;
            transition: all .2s ease-in-out;
            &:hover{
                color: var(--color-secondary);
            }
        }
    }
    &__text{
        font-size: 1.5rem;
        color: var(--color-secondary);

    }
    &__link{
        text-decoration: none;
        font-size: 1.5rem;
        color:var(--color-primary);
        &:hover{
            border-bottom: 1px solid var(--color-primary);
        }
    }   

    &__button:disabled{
        background:none;
        border: 1.5px solid var(--color-primary);
        color: var(--color-primary);
    }
    &__button{
        width: 25rem;
        height: 6rem;
        background-color: var(--color-primary);
        border: none;
        border-radius: 6rem;
        font-size: 2rem;
        color: var(--color-tertiary);
        outline: none;
        margin-top: 3rem;
        margin-bottom: 3rem;
        transition: all .2s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
       
    }
}